@import '../public/esy-css.less';
@import '../public/reset.less';

.esy-pagination {
  display: inline-block;
  & > .esy-pagination-mini {
    border: 1px solid red;
    ul {
      li {
        list-style: none;
        display: inline-block;
        width: 20px;
        height: 26px;
        font-size: 15px;
        margin-right: 10px;
      }
    }
  }

  & > .esy-pagination-normal {

  }
}