@import "./variables.scss";

html, body {
  position: relative;

  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-family: $font-family;
}

.hui-ripple-container {
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.55s $swift-ease-out-timing-function;
}

.ripple {
  $sizeDuration: 0.45s * 2;
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  transform-origin: 50% 50%;
  opacity: 0;
  border-radius: 50%;
  &.ripple-placed {
    transition: margin $sizeDuration $swift-ease-out-timing-function,
    border $sizeDuration $swift-ease-out-timing-function,
    width $sizeDuration $swift-ease-out-timing-function,
    height $sizeDuration $swift-ease-out-timing-function,
    opacity $sizeDuration $swift-ease-out-timing-function,
    transform $sizeDuration $swift-ease-out-timing-function;
  }
  &.ripple-scaled {
    transform: translate(-50%, -50%) scale(1);
  }
  &.ripple-acv {
    opacity: .2;
  }
  &.ripple-not-acv {
    animation: ripple-remove $sizeDuration $swift-ease-out-timing-function;
  }
}

@-webkit-keyframes ripple-remove {
  0% { opacity: .15; }
  100% { opacity: 0; }
}

@keyframes ripple-remove {
  0% { opacity: .15; }
  100% { opacity: 0; }
}
